<div class="meta-badges-hero">
  {% if page.service %}
    <span class="meta-badge badge-service">
      <i class="fas fa-concierge-bell mr-1"></i> {{ page.service }}
    </span>
  {% endif %}
  {% if page.platform %}
    <span class="meta-badge badge-platform">
      <i class="fas fa-laptop mr-1"></i> {{ page.platform }}
    </span>
  {% endif %}
  {% if page.categories %}
    {% if page.categories.size > 0 %}
        {% assign categories = page.categories | join: ", " %}
        <span class="meta-badge badge-category">
          <i class="fas fa-tag mr-1"></i> {{ categories }}
        </span>
    {% else %}
        <span class="meta-badge badge-category">
          <i class="fas fa-tag mr-1"></i> {{ page.categories }}
        </span>
    {% endif %}
  {% endif %}
</div>