
<section class="page-section" id="{{ site.data.sitetext.donations.section | default: "donations" }}">
	<div class="container">
	  <div class="row">
		<div class="col-lg-12 text-center">
		  <h2 class="section-heading text-uppercase">DONATIONS</h2>
		  <h3 class="section-subheading text-muted">Thank you for your support</h3>
		</div>
	  </div>
	  <div class="row">
      {% for a in site.data.sitetext[site.locale].donations.list %}
      <div class="col-md-4 col-sm-6" style="text-align:center;">
        <h3>{{ a.title | markdownify }}</h3>
        <img src="{{ a.image }}" />
        <p>{{ a.subtitle | markdownify }}</p>
        <p>{{ a.address | markdownify }}</p>
      </div>
      {% endfor %}          
	  </div>
	  <div class="row">
		<div class="col-lg-8 mx-auto text-center">
		  <div class="large text-muted">{{ site.data.sitetext.donations.subtext | markdownify }}</div>
		</div>
	  </div>
	</div>
</section>


