
<div class="card-columns">

  {% assign filter = page.title | downcase %}

  {% assign posts = site.resources | where_exp: "resource", "resource.categories contains filter" %}
 
{% for resource in posts %}


    <div class="card">
        <img class="img-fluid" src="{{ resource.caption.thumbnail }}" alt="">
        <div class="card-body">
          <h5 class="card-title">{{ resource.title }}</h5>
          <p class="card-text">{{ resource.subtitle }}</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      
{% endfor %}
</div>







