{% assign filter = page.title | downcase %}
{% assign posts = site.resources | where_exp: "resource", "resource.categories contains filter" %}

<script>
    const cardData = {{ posts | jsonify }};
    window.defaultFilter = 'all';

    function getCardHtml(cardObj) {
        const tags = (cardObj.tags && Array.isArray(cardObj.tags)) ? cardObj.tags.join(',') : '';

        const wrapper = document.createElement('div');
        wrapper.className = 'col-md-4 mb-3 filterable-card';
        wrapper.setAttribute('data-filters', tags);

        const card = document.createElement('div');
        card.className = 'card h-100';
        wrapper.appendChild(card);

        const img = document.createElement('img');
        img.className = 'card-img-top img-fluid';
        img.src = cardObj.image;
        img.alt = '';
        card.appendChild(img);

        const body = document.createElement('div');
        body.className = 'card-body';
        card.appendChild(body);

        const title = document.createElement('h5');
        title.className = 'card-title';
        title.textContent = cardObj.title;
        body.appendChild(title);

        const text = document.createElement('p');
        text.className = 'card-text';
        text.textContent = cardObj.subtitle;
        body.appendChild(text);

        const link = document.createElement('a');
        link.href = cardObj.link;
        link.target = '_blank';
        link.className = 'btn btn-primary stretched-link';
        link.textContent = 'View';
        body.appendChild(link);

        return wrapper;
    }
</script>

<div class="row">
    <!-- Filters -->
    <div class="col-md-12">
      <div class="btn-group">
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="fa fa-filter"></i> Filter by:
            <span class="caret"></span>
          </a>
          <ul id="card-filters" class="dropdown-menu">
            <!-- dropdown menu links -->
          </ul>
        </div>
    </div>
</div>
<div class="row">
    <!-- List of Cards -->
    <div class="col-md-12">
        <div class="row" id="card-container">
            <!-- Cards will be dynamically populated here -->
        </div>
    </div>
</div>

{% include card_filter_script.html %}
