<!doctype html>
<html lang="en">
  {% include head.html %}
  <body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">{{ page.title }}</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="/">Home</a>
            <a class="nav-link" href="/marketplace">Marketplace</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <img src="{{ page.image }}" class="img-fluid rounded mb-4" style="max-height: 300px;" alt="{{ page.title }}">
        <h1 class="cover-heading">{{ page.title }}</h1>
        <p class="lead">{{ page.subtitle }}</p>
        <p class="lead">
          <a href="{{ page.link }}" target="_blank" class="btn btn-lg btn-primary">
            {% if page.platform == 'android' %}Download APK{% elsif page.platform == 'github' %}Build on GitHub{% else %}Launch Web App{% endif %}
          </a>
        </p>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Provided by <a href="https://digitaleducationsafety.org">The Digital Education & Safety Foundation</a>.</p>
        </div>
      </footer>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
