---
layout: default
---

{% include nav.html %}

<header class="masthead" style="background-image: url('{{ page.image | default: "/assets/img/header-bg.jpg" }}')">
    <div class="container">
      <div class="intro-text">
        <div class="intro-heading text-uppercase">Marketplace</div>
        <div class="intro-lead-in">Apps and Games for a Modern Education</div>
      </div>
    </div>
</header>

<section class="bg-light" id="marketplace">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Explore</h2>
        <h3 class="section-subheading text-muted">A collection of resources to empower your learning.</h3>
      </div>
    </div>

    {% include marketplace_grid.html %}

  </div>
</section>

{% include contact.html %}
