---
layout: default
---

{% assign filter = page.title | downcase %}
{% assign posts = site.opensource  %}

{% include nav.html %}

<header class="masthead" style="background-image: url('/assets/img/opensource/mast.jpg')">
    <div class="container">
      <div class="intro-text">
      <h1 class="intro-heading">Open Source</h1>
      </div>
    </div>
  </header>


{% if page.background == "grey" or page.background == "gray" %}
<script>
document.getElementById("page-top").className="bg-light";
</script>
{% endif %}



<div class="container py-5" id="pagecontainer">


<p>
    Open source projects provide an invaluable platform for individuals to develop and enhance their STEM skills. Participation in open source initiatives offers a practical and collaborative learning environment where enthusiasts can contribute to real-world projects. One of the key aspects is the transparency of the source code, allowing aspiring developers to explore and understand how complex systems function. This hands-on experience fosters a deeper comprehension of programming languages, algorithms, and software architecture.
</p>

    <p>

        Open source projects encourage problem-solving and critical thinking. Contributors often encounter challenges that require creative solutions, honing their analytical skills and ability to troubleshoot issues. The collaborative nature of these projects promotes teamwork, communication, and project management skills, which are crucial in STEM fields where collaboration is common.
</p>
<p>
Open source communities also expose individuals to a diverse range of technologies and tools. Contributors may work on projects related to data science, artificial intelligence, cybersecurity, or any other STEM discipline, providing exposure to a broad spectrum of applications. This exposure not only helps individuals discover their interests within STEM but also prepares them for the interdisciplinary nature of many STEM careers.

    </p>

    <p>
We've compiled a list of popular open source projects in industry below. The Contribute button will redirect you to a contribution page with best practices on how to get started!
        </p>

    <script>
        // Example array of JavaScript objects representing card
        const cardData = 
        [{% for card in posts %}
        {
            "title": {{card.title | jsonify}}, 
            "tags": {{card.tags | jsonify}}, 
            "path": {{card.id | jsonify}},
            "contribute": {{card.contribute | jsonify}}, 
            "caption": {{card.caption | jsonify}}, 
            "abbreviations": {{card.abbreviations | jsonify}}, 
            "description": {{card.excerpt | jsonify}}
        },
        {% endfor %}]
        
      </script>
    
      <div class="row">
          <!-- Filters -->
          <div class="col-md-12">

            <div class="btn-group">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-filter"></i> Filter by:
                  <span class="caret"></span>
                </a>
                <ul id="card-filters" class="dropdown-menu">
    
                  <!-- dropdown menu links -->
                </ul>
              </div>

   

              <!-- Add more filters as needed -->
          </div>
        </div>
        <div class="row">
          <!-- List of Cards -->
          <div class="col-md-12">
              <div class="row" id="card-container">
                  <!-- Cards will be dynamically populated here -->
              </div>
          </div>
      </div>
    
    <!-- Add Bootstrap JS and jQuery for checkbox filtering -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <script>
      // Function to populate cards
      function populateCards() {
        const cardFiltersContainer = document.getElementById('card-filters');
        cardFiltersContainer.innerHTML = '';
        const fs = [];
          cardData.forEach(cardObj => {
            cardObj.tags.forEach(cardTag => {
                if(!fs.includes(cardTag)) {
                    fs.push(cardTag);
                }
            })
          });
    
          fs.forEach(f => {
            const isChecked = (f != '' ? 'checked' : '');
            const filterHtml = `
            <li class="pl-2"><div class="form-check">
                <input type="checkbox" ${isChecked} class="form-check-input" id="${f}">
                <label class="form-check-label" for="${f}">${f}</label>
            </div></li>
              `;
              cardFiltersContainer.innerHTML += filterHtml;
          });
    
        const cardContainer = document.getElementById('card-container');
          cardContainer.innerHTML = '';
          cardData.forEach(cardObj => {
              const abbrev = (cardObj.abbreviations ? cardObj.abbreviations : '');
              const cardHtml = `
                  <div class="col-md-4 mb-3 filterable-card" data-filters="${cardObj.tags.join(',')}">
                      <div class="card">
                        <img class="card-img-top img-fluid" src=${cardObj.caption.thumbnail} alt="">
                          <div class="card-body">
                              <h5 class="card-title">${cardObj.title}</h5>
                              <p class="card-subtitle">${cardObj.tags}</h>
                              <p class="card-text">${cardObj.description}</p>
                              <a href=${cardObj.contribute} class="btn btn-primary stretched-link">Contribute</a>
                          </div>
                      </div>
                  </div>
              `;
              cardContainer.innerHTML += cardHtml;
          });
      }
    
      // Function to filter cards based on checkboxes
      function filterCards() {
          const selectedFilters = [];
          // Get all selected filters
          $('input[type="checkbox"]:checked').each(function () {
              selectedFilters.push($(this).attr('id'));
          });
    
          // Show/hide cards based on selected filters
          $('.filterable-card').each(function () {
              const card = $(this);
              const filters = card.data('filters').split(',');
              const showCard = filters.some(filter => selectedFilters.includes(filter));
              card.toggleClass('d-none', !showCard);
          });
      }
    
      // Initialize filtering on page load and when checkboxes change
      $(document).ready(function () {   
          populateCards();
    
          $('input[type="checkbox"]').change(filterCards);      
    
          filterCards();
      });
    </script>
    
    
    
    
    
</div>

{% include contact.html %}







