<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
    {% comment %}
    This section below is for defining manifest file for PWAs
    {% endcomment %}
    {% capture manifestObj %}
    { 
      "name": "{{page.title}}",
      "short_name": "{{page.subtitle}}", 
      "description": "{{page.description}}",
      "icons": [
        {
          "src": "/assets/img/favicon.ico",
          "sizes": "192x192",
          "type": "image/png"
        },
        {
          "src": "/assets/img/favicon.ico",
          "sizes": "512x512",
          "type": "image/png"
        }
      ],
      "start_url": "./{{page.url}}",
      "display": "standalone",
      "theme_color": "{{'#000000' | url_encode}}",
      "background_color": "{{'#ffffff' | url_encode}}" 
    }     
    {% endcapture %}
    <link rel="manifest" href='data:application/manifest+json,{{ manifestObj | strip_newlines }}' />
    
    <title>{{ page.title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.0/examples/cover/cover.css" rel="stylesheet">

  </head>
  <body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">{{ page.title }}</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="#">Home</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading">{{ page.title }}</h1>
        <p class="lead">{{ page.subtitle }}</p>
        <p class="lead">
          <a href="{{ page.link }}" class="btn btn-lg btn-secondary">Get Started</a>
        </p>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>By <a href="https://functions.io">functions.io</a> and <a href="https://digitaleducationsafety.org">The Digital Education & Safety Foundation</a>.</p>
        </div>
      </footer>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/popper.min.js"></script>
    <script src="https://getbootstrap.com/docs/4.0/dist/js/bootstrap.min.js"></script>
  </body>
</html>
