---
layout: default
---
{% include nav.html %}

{% if page.background == "grey" or page.background == "gray" %}
<script>
document.getElementById("page-top").className="bg-light";
</script>
{% endif %}


<div class="container" id="pagecontainer">

{{ content }}

<!-- Product Grid -->
{% if site.locale and site.locale != "" and site.locale != nil %}
  
    <div class="row">
	{% for product in site.products %}
      <div class="col-md-4 col-sm-6 portfolio-item">
        {{ product.content }}
      </div>
	{% endfor %}
    </div>
  

{% else %}
  
    <div class="row">
	{% for product in site.products %}
      <div class="col-md-4 col-sm-6 portfolio-item">
        {{ product.content }}
      </div>
	{% endfor %}
    </div>
  
{% endif %}

</div>